.table{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    .searchdiv{
        width:100%;
        padding: 16px;
        display: flex;
        gap: 16px;
        justify-content: flex-end;
    }
    .addButton {
        padding: 16px;
        display: flex;
        gap: 16px;

    }
        
}

.items{
    .whitebox{
        padding:15px;
        margin: 5vw 0 5vw 0 ;
        .box-header{
            font-size:20px;
            margin-bottom:5px;
        }
        div{
            margin-top:5px;
            margin-bottom:5px;
            h6{
                font-size:18px;
            }
            p{
                font-size:16px;
            }
        }
        .itembutton{
            display:flex;
            width:100%;
            justify-content: center;
            button{
                width:50% !important;
                margin-top:5px;
                font-size:15px;
            }
        }
    }
        
    }
