@import "../styles/colors.scss";


.header{
    height:110px;
    background-color: $main-color;
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    
    .main{
        width:100%;
        max-width:1440px;
        height: 60%;
        padding: 0 2vw 0 2vw;
        position: relative;
        display:flex;
        flex-direction: row;
        justify-content: space-between;
        overflow: hidden;
        box-sizing: border-box;
        .logo{
            width:30%;
            svg{
                position: relative;
                max-width: 100px;
                max-height: 100%;
            }
            
        }
        .contacts{
            width:40%;
            display:flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            @media (max-width: 550px) {
                justify-content: end;
            }
            .book{
                @media (max-width: 800px) {
                    font-size:0px
                }
            }
            .book::after{
                @media (max-width: 800px) {
                    content:'Мой силант';
                    font-size:22px
                }
            }
            .telegram{
                display:flex;
                justify-content: center;
                align-items: center;
                @media (max-width: 550px) {
                    display:none
                }
                p{
                    margin-right: 10px;
                    font-size: 20px;
                }
            }
            p{
                white-space: nowrap; 
                margin:0;
                font-size: 22px;
                color:black
            }
        }
        .user{
            width:30%;
            display:flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-end;
            @media (max-width: 550px) {
                width:30%
            }
            p{
                font-size:20px;
                margin: 0;
                color:black;
                @media (max-width: 550px) {
                    white-space: nowrap;
                }
            }
            p:nth-child(1){
                font-size:15px;
                @media (max-width: 550px) {
                    font-size:15px;
                }
            }
            a{
                font-size: 26px;
                color:$second-color
            }
            p:last-child{
                font-size:15px;
                cursor: pointer;
                color:$second-color
            }
        }
    }
    .buttons{
        width:100%;
        padding: 0 2vw 0 2vw;
        position: relative;
        max-width:1440px;
        height:40%;
        display:flex;
        justify-content: center;
        overflow: hidden;
        align-items: center;
        box-sizing: border-box;
        a{
            display: flex;
            justify-content: center;
            align-items: center;
            text-decoration: none;
            background-color: $third-color;
            border-radius: 5px;
            padding:5px;
            color:white;
            margin-right:10px;
            font-size: 17px;
            .svgdir{
                margin-left:5px;
                width:25px;
                height: 25px;
            }
            .svgclient{
                margin-left:5px;
                width:25px;
                height: 25px;
            }
            .svgcar{
                margin-left:5px;
                width:33px;
                height: 25px;
            }
            .svgto{
                margin-left:5px;
                width:28px;
                height: 25px;
            }
            .svgcom{
                margin-left:5px;
                width:26px;
                height: 25px;
            }
        }
        a:last-child{
            margin-right:0;
        }
        a:hover{
            background-color:$second-color;
            transition: background-color 0.3s
        }
        .active{
            background-color:$second-color;
        }
        .center{
            width:80%;
            display:flex;
            justify-content: center;
        }
        .left, .right{
            height: 100%;
            width:10%
        }
        .right{
            display:flex;
            justify-content: flex-end;
            align-items: flex-start;
           
        }
        .menu-button{
            width:100%;
            height: 100%;
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;
            .menusvg{
                height: 60%;
            }
            .mobile-menu{
                display:flex;
                flex-direction: column;
                position: fixed;
                top: 0;
                left: 0;
                width: 100%;
                z-index: 1000;
                background-color: white;
                transform: translateY(-100%);
                transition: transform 0.5s ease;
                a{
                    padding:20px;
                    border-radius: 0px;
                    margin-right:0px;
                }
                
            }
            .overlay {
                position: fixed;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: rgba(0, 0, 0, 0.5);
                z-index: 999; 
            }
            .mobile-menu.open{
                transform: translateY(0);
            }
            
        }
        
        
    }
}
.header-low{
    height:75px;
    .main{
        height:100%;
        .contacts{
            p{
                font-size:25px;
            }
        }
    }
}