@import "./colors.scss";

.users{
    padding:2vh 2vw;
    max-width:1440px;
    width:100%;
    .modelwindow{
        background-color: white;
        padding:2vh 2vw;
        border-radius: 20px;
        max-width: 500px;
        .headermodal{
            justify-content: space-between;
            background-color: white;
            display:flex;
            flex-direction: row;
        }
        .formButtons{
            display:flex;
            justify-content: space-between
        }
    }

}